body {
    font-family: Arial, sans-serif;
    background-color: #FFFBF3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    align-items: stretch;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    margin: 20px;
}

.text-content {
    padding: 30px;
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-content h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}

.text-content p {
    font-size: 15px;
    line-height: 1.5;
    color: #666;
}

.text-content select {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #FFFBF3;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="none" stroke="%23000" stroke-width="2" d="M8 10l4 4 4-4z"/></svg>');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

.apply-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: none;
}

.apply-button:hover {
    background-color: #45a049;
}

.join-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.join-button:hover {
    background-color: #45a049;
}

.image-content {
    flex-grow: 1;
}

.image-content img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.popup-content {
    background-color: #FFFBF3;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1000px;
}

.popup-content-apply {
    background-color: #FFFBF3;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1000px;
}

.popup-content h2, .popup-content-apply h2 {
    margin-top: 10px;
    font-size: 24px;
}

.popup-content p, .popup-content-apply p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

.popup-content select {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #FFFBF3;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="none" stroke="%23000" stroke-width="2" d="M8 10l4 4 4-4z"/></svg>');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

.popup-content select:focus {
    outline: none;
    border-color: #4b4b4b;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.popup-content .close-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup-content .close-button:hover {
    background-color: #45a049;
}

.popup-icon {
    width: 150px;
    height: 150px;
}

.popup-content-apply {
    display: flex;
    justify-content: space-between;
}

.apply-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.apply-left {
    background: linear-gradient(to bottom, #6b4e3d, #2d180c);
    color: #fff;
    padding: 40px;
    border-radius: 10px 0 0 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    text-align: left;  
}

.apply-left h1 {
    font-size: 36px;
    margin: 10px 0;
}

.apply-left h3 {
    margin: 0;
}

.apply-left p {
    color: #ccc;
    margin-bottom: 20px;
}

.apply-left .apply-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}

.apply-right {
    color: #333;
    padding: 40px;
    border-radius: 0 10px 10px 0;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    height: 100%;
}

.apply-right h2 {
    margin: 20px 0 10px;
}

.apply-right p {
    margin: 0;
}

.apply-right h2:first-of-type {
    margin-top: 0;
}

.exit-button {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 34px;
    cursor: pointer;
}

.popup-content {
    position: relative; /* Ensure the exit button stays relative to this container */
}

.popup-content-apply {
    position: relative; /* Ensure the exit button stays relative to this container */
}

.popup-content-application {
    background-color: #FFFBF3;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1000px;
}


.popup-content-application h2 {
    margin-top: 10px;
    font-size: 24px;
}

.popup-content-application p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}
.popup-content-application {
    position: relative; /* Ensure the exit button stays relative to this container */
}
.popup-content-application {
    justify-content: space-between;
}

.popup-content-application {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    margin: 10px auto; /* Ensure some margin for smaller screens */
}

#application-form-popup {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow-y: auto; /* Add scroll if the content overflows */
}

#application-form-popup .popup-content-apply {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    margin: 20px auto; /* Ensure some margin for smaller screens */
}

#application-form-popup form {
    display: flex;
    flex-direction: column;
}

#application-form-popup .form-section {
    margin-bottom: 30px;
}

#application-form-popup label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
}

#application-form-popup input, #application-form-popup select {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 15px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#application-form-popup .form-row {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
    gap: 20px;
}

#application-form-popup .form-row .form-group {
    flex: 1;
    min-width: calc(50% - 20px); /* Ensure a minimum width to keep layout consistent */
}

#application-form-popup .form-row .form-group.half-width {
    flex: 0.5;
    min-width: calc(50% - 20px);
}

#application-form-popup button[type="submit"] {
    padding: 15px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

#application-form-popup button[type="submit"]:hover {
    background-color: #45a049;
}

.popup-content-application.process-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}

.popup-content-application.process-form .verify-photo {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
}

.popup-content-application.process-form h2 {
    font-size: 24px;
    margin-top: 20px;
}

.popup-content-application.process-form p {
    font-size: 16px;
    margin-top: 10px;
}

.proceed-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.proceed-button:hover {
    background-color: #45a049;
}

input.invalid,
select.invalid {
    border-color: red;
    /* Add more styling as needed */
}

.verify-photo {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
}





