body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #a36b37, #503510);
}

.background {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.header {
    text-align: center;
    color: white;
    padding: 50px 20px;
    border-radius: 10px;
}

.header h1 {
    margin-bottom: 20px;
}

.header p {
    margin-bottom: 40px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.google-maps-btn {
    background-color: #fff;
    color: #a36b37;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
}

.google-maps-btn img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.google-maps-btn:hover {
    background-color: #3a7c34;
    color: #fff;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.inner-content {
    display: flex;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 100%;
}

.form-section {
    flex: 1;
    margin-right: 20px;
}
.form-section h2 {
    font-family: 'Finger Paint', cursive;
    font-size: 44px;   
}

.map-section {
    flex: 1.5;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
}

.form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.location-link {
    margin-bottom: 20px;
}

.location-link a {
    color: #a36b37;
    text-decoration: none;
}

.location-link a:hover {
    text-decoration: underline;
}

.shop-info {
    margin-bottom: 20px;
}

.shop-info p {
    margin: 5px 0;
}

.book-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.book-btn:hover {
    background-color: #45a049;
}

.map-section img {
    width: 100%;
    border-radius: 10px;
}
